blockquote {
  @include fs-italic;
  color: $c-txt-primary;
  padding: 0 em(18px);
  margin: em(20px) 0 0;
  display: block;
  text-align: left;
  font-size: em(20px);
  line-height: em(22px);
  quotes: "\201C""\201D""\2018""\2019";
  // border-left: solid 4px $c-dark-primary;
  position: relative;
  text-align: justify;

  @include media($mobile) {
    font-size:  em(16px);
    line-height: em(18px);
  }

  &:before {
    @include sprite(quote-start);
    @include opacity(.1);
    content: "";  
    display: block;
    z-index: 1;
    position: absolute;
    top: -11px;
    left: 3px;
  }

  p { 
    display: inline;
    position: relative;

    &:after {
      @include sprite(quote-end);
      @include opacity(.1);
      content: "";  
      display: block;
      z-index: 1;
      position: absolute;
      bottom: -10px;
      right: -14px;
    }
  }

  a { color: inherit; }

  cite {
    font-size: 0.8rem;
    font-style: normal;

    &:before {
      content: "\2014";
      padding-right: 5px;
    }
  }
}