.-ico {
	&:after,
	&:before {
		@include transition-duration($base-duration);
		@include box-sizing(border-box);
		font-family: $font-icon;
		speak: none;
		font-size: 1em;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		overflow: hidden;
		display: inline-block;
		vertical-align: middle;
		/* Better Font Rendering =========== */
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	&.-user  {content: "\e900";}
	&.-cart2  {content: "\e901";}
	&.-talk-square  {content: "\e902";}
	&.-talk-round  {content: "\e903";}
	&.-call  {content: "\e904";}
	&.-call-slim  {content: "\e913";}
	&.-newsletter  {content: "\e905";}
	&.-layers  {content: "\e906";}
	&.-config  {content: "\e907";}
	&.-print  {content: "\e908";}
	&.-calendar  {content: "\e909";}
	&.-boleto  {content: "\e90a";}
	&.-lock  {content: "\e90b";}
	&.-share  {content: "\e90c";}
	&.-zoom  {content: "\e90d";}
	&.-top  {content: "\e90e";}
	&.-bottom  {content: "\e90f";}
	&.-right  {content: "\e910";}
	&.-left  {content: "\e911";}
	&.-plus  {content: "\e914";}
	&.-minus  {content: "\e915";}
	&.-plus-circle  {content: "\e912";}
	&.-plus-slim  {content: "\e931";}
	&.-minus-slim  {content: "\e932";}
	&.-plus-flat  {content: "\e933";}
	&.-close  {content: "\e916";}
	&.-checked  {content: "\e917";}
	&.-radio-checked  {content: "\e918";}
	&.-radio-unchecked  {content: "\e919";}
	&.-checkbox-checked  {content: "\e91a";}
	&.-checkbox-uncheked  {content: "\e91b";}
	&.-bottom-triangle  {content: "\e91c";}
	&.-asterisk  {content: "\e91d";}
	&.-menu  {content: "\e934";}
	&.-suspention-points  {content: "\e91e";}
	&.-arrow-left  {content: "\e91f";}
	&.-arrow-right  {content: "\e920";}
	&.-arrow-top  {content: "\e921";}
	&.-arrow-bottom  {content: "\e922";}
	&.-star  {content: "\e923";}
	&.-images  {content: "\e924";}
	&.-bullhorn  {content: "\e925";}
	&.-price-tags  {content: "\e926";}
	&.-cart  {content: "\e927";}
	&.-credit-card  {content: "\e928";}
	&.-phone  {content: "\e929";}
	&.-alarm  {content: "\e92a";}
	&.-spinner8  {content: "\e92b";}
	&.-bin  {content: "\e92c";}
	&.-link  {content: "\e92d";}
	&.-bookmarks  {content: "\e92e";}
	&.-warning  {content: "\e92f";}
	&.-question  {content: "\e930";}
}
