---
layout: home
title: Olá, Mundo
priority: 1.0
changefreq: monthly
permalink: '/'
---

<header>
    {% include header.html navclass='header' %}
</header>

<div class="container">
	<section class="table">
		<div class="table-cell">

			<h1><span>FRONT-END DEVELOPER </span>& UI/UX DESIGNER</h1>
			<ul class="topics">
				<li>
					<p>WEBDESIGN</p>
				</li>
				<li>
					<p>MOBILE FIRST</p>
				</li>
				<li>
					<p>WEBSTANDARTS</p>
				</li>
			</ul>
		    {% include social.html %}
		</div>
	</section>
</div>







