doctype
html
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width")
		title Charles Cabral . Front-end Developer
		link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Merriweather:900|Work+Sans")
		link(rel="stylesheet" href="/main.css")
	body
		!= yield