<div class="author__wrapper">
  <div class="author__text">
    <h5 class="author__name">
      <a href="{{ site.url }}/about/">
      	<span class="author__name--bold" itemprop="author">{{ site.data.settings.owner.name }}</span>
      </a>
    </h5>
    <p class="author__bio">{{ site.data.settings.owner.bio }}</p>
  </div>
  <a href="{{ site.url }}/about/" class="author__avatar">
  	<img src="/assets/img/{{ site.data.settings.owner.avatar }}" alt="{{ site.data.settings.owner.name }} avatar">
  </a>
</div>
