<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>{% if page.title %}{{page.title}} . {% endif %}Charles Cabral</title>
<meta name="description" content="{{page.meta}}">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="apple-touch-icon" href="apple-touch-icon.png">
<!-- Place favicon.ico in the root directory -->

<link rel="stylesheet" href="{{site.baseurl}}/assets/css/normalize.css">
<link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css">
<script src="{{site.baseurl}}/assets/js/vendor/modernizr-2.8.3.min.js"></script>