<nav class="navigation {{include.navclass}}">
	<div class="container">
		<a class="brand" href="#">
			<svg class="ico"><use xlink:href="#brand-simple"></use></svg>
		</a>
		<ul>
			<li><a class="item {% if page.url == '/' %}current{% endif %}" href="{{ "/" | prepend: site.baseurl }}">Home</a></li>
			<li><a class="item {% if page.url == '/about/' %}current{% endif %}" href="{{ "/about/" | prepend: site.baseurl }}">About</a></li>
			<li><a class="item {% if page.url == '/work/' %}current{% endif %}" href="{{ "/work/" | prepend: site.baseurl }}">Work</a></li>
			<li>
				<a class="item {% if page.url contains 'blog' or 
					page.url contains 'javascript' or 
					page.url contains 'css' %} current{% endif %}" 
					href="{{ "/blog/" | prepend: site.baseurl }}"> 
					Blog 
				</a>
			</li>
			<li><a class="item {% if page.url == '/contact/' %}current{% endif %}" href="{{ "/contact/" | prepend: site.baseurl }}">Contact</a></li>
		</ul>
		<a class="menu-control" href="#">
			<svg class="ico"><use xlink:href="#icon-menu"></use></svg>
		</a>
	</div>
</nav>
