<nav class="{{include.navclass}}">
	<ul>
	    <li><a  href="{{site.baseurl}}/">Home</a></li>
	    <li><a class="{% if page.url contains 'about' %}current{% endif %}" href="{{site.baseurl}}/about/">About</a></li>
	    <li>
	    	<a class="{% if page.url contains 'blog' or 
	    					page.url contains 'javascript' or 
	    					page.url contains 'css' %} current{% endif %}" 
	    		href="{{site.baseurl}}/blog/"
	    	> Blog </a>
	    </li>
	    <li><a class="{% if page.url contains 'work' %}current{% endif %}" href="{{site.baseurl}}/work/">Work</a></li>
	    <li><a class="{% if page.url contains 'contact' %}current{% endif %}" href="{{site.baseurl}}/contact/">Contact</a></li>
	</ul>
</nav>