<ul class="navigation {{include.position}}">
	<li>
		{% if include.position == 'menu-side' %}
			<a class="item icon-home {% if page.url == '/' %}current{% endif %}" href="{{ "/" | prepend: site.baseurl }}">
				Home
			</a>
		{% else %}
			<a class="icon-home {% if page.url == '/' %}current{% endif %} hint--bottom" data-hover="Home" href="{{ "/" | prepend: site.baseurl }}">
				<svg class="ico"><use xlink:href="#home"></use></svg>
			</a>
		{% endif %}
	</li>
	<li><a class="item {% if page.url == '/about/' %}current{% endif %}" href="{{ "/about/" | prepend: site.baseurl }}">About</a></li>
	<li><a class="item {% if page.url == '/work/' %}current{% endif %}" href="{{ "/work/" | prepend: site.baseurl }}">Work</a></li>
	<li>
		<a class="item {% if page.url contains 'blog' or
			page.url contains 'javascript' or
			page.url contains 'css' %} current{% endif %}"
			href="{{ "/blog/" | prepend: site.baseurl }}">
			Blog
		</a>
	</li>
	<li><a class="item {% if page.url == '/contact/' %}current{% endif %}" href="{{ "/contact/" | prepend: site.baseurl }}">Contact</a></li>
	<li>
		{% if include.position == 'menu-side' %}
			<a class="item open-search" href="javascript:void(0)" data-modal="#modal-search">
				Search
			</a>
		{% else %}
			<a class="open-search hint--bottom" data-hover="Buscar" href="javascript:void(0)" data-modal="#modal-search">
				<svg class="ico"><use xlink:href="#zoom"></use></svg>
			</a>
		{% endif %}
	</li>
</ul>