$icons: (
      sprite: (width: 1224.8px, height: 294px, pngPath: '../img/sprite.png', svgPath: '../svg/sprite_svg.svg'),
    charles: (width: 1212.8px, height: 155.3px, backgroundX: 0px, backgroundY: 0px),
    facebook: (width: 10px, height: 22px, backgroundX: 0px, backgroundY: -168px),
    icon-menu: (width: 18px, height: 12px, backgroundX: 0px, backgroundY: -202px),
    twitter: (width: 32px, height: 22px, backgroundX: 0px, backgroundY: -226px),
    twitterHover: (width: 32px, height: 22px, backgroundX: 0px, backgroundY: -260px),
);