$icons: (
      sprite: (width: 482px, height: 9161px, pngPath: '../img/sprite.png', svgPath: '../img/svg/sprite_svg.svg'),
    alarm-clock: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: 0px),
    alvo: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -60px),
    analysis: (width: 286.44px, height: 286.44px, backgroundX: 0px, backgroundY: -120px),
    badge: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -419px),
    bag: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -479px),
    bd: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -539px),
    bomb: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -599px),
    brush: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -659px),
    calendar: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -719px),
    charging: (width: 463.03px, height: 463.03px, backgroundX: 0px, backgroundY: -779px),
    clipboard: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -1255px),
    clock: (width: 187.85px, height: 187.85px, backgroundX: 0px, backgroundY: -1315px),
    clock-1: (width: 203.54px, height: 203.54px, backgroundX: 0px, backgroundY: -1515px),
    close: (width: 294.84px, height: 294.84px, backgroundX: 0px, backgroundY: -1731px),
    cloud: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -2038px),
    coding: (width: 470px, height: 470px, backgroundX: 0px, backgroundY: -2098px),
    coffee-cup: (width: 463px, height: 463px, backgroundX: 0px, backgroundY: -2580px),
    credit-cards: (width: 244.68px, height: 244.68px, backgroundX: 0px, backgroundY: -3055px),
    dashboard: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -3312px),
    design: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -3372px),
    explore: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -3432px),
    folder: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -3492px),
    gentleman: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -3552px),
    handshake: (width: 264.36px, height: 264.36px, backgroundX: 0px, backgroundY: -3612px),
    hourglass: (width: 235.32px, height: 235.32px, backgroundX: 0px, backgroundY: -3889px),
    labyrinth: (width: 231.33px, height: 231.33px, backgroundX: 0px, backgroundY: -4137px),
    lightbulb: (width: 260.77px, height: 260.77px, backgroundX: 0px, backgroundY: -4381px),
    link: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -4654px),
    mac: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -4714px),
    megaphone: (width: 259.28px, height: 259.28px, backgroundX: 0px, backgroundY: -4774px),
    music: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -5046px),
    music-playlist: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -5106px),
    network: (width: 226.99px, height: 226.99px, backgroundX: 0px, backgroundY: -5166px),
    news: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -5405px),
    pen: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -5465px),
    pencil: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -5525px),
    phone: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -5585px),
    presentation: (width: 239.88px, height: 239.88px, backgroundX: 0px, backgroundY: -5645px),
    presentation-1: (width: 278px, height: 278px, backgroundX: 0px, backgroundY: -5897px),
    productivity: (width: 463.03px, height: 463.03px, backgroundX: 0px, backgroundY: -6187px),
    quote: (width: 23.520000000000003px, height: 23.520000000000003px, backgroundX: 0px, backgroundY: -6663px),
    reload: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -6699px),
    rocket: (width: 463px, height: 463px, backgroundX: 0px, backgroundY: -6759px),
    settings: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -7234px),
    shop: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -7294px),
    stats: (width: 470px, height: 470px, backgroundX: 0px, backgroundY: -7354px),
    stemware: (width: 462.92px, height: 462.92px, backgroundX: 0px, backgroundY: -7836px),
    stopwatch: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -8311px),
    tactics: (width: 229.75px, height: 229.75px, backgroundX: 0px, backgroundY: -8371px),
    tag: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -8613px),
    tags: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -8673px),
    tools: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -8733px),
    umbrela: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -8793px),
    work-station: (width: 295.24px, height: 295.24px, backgroundX: 0px, backgroundY: -8853px),
);