html,
body {
	margin: 0;
	padding: 0;
	font: normal 100%/1.4 Georgia, serif;
}

.current {
	background-color: #000;
	color: #fff;
}

ul {
	padding: 0;
}
ul li{
	list-style: none;
}

header nav ul li,
footer nav ul li {
	display: inline-block;
}

sidebar nav ul li {
	list-style: none;
}

.content {
	width: 960px;
	margin: 0 auto;
}
.content:after {
	content: " ";
	width: 100%;
	clear: both;
}

.col-content {
	float: left;
	width: 70%;
}

aside {
	float: right;
	width: 20%;
}

footer {
	clear: both;
}