@import url(https://fonts.googleapis.com/css?family=Volkhov:400i|Roboto+Mono:400|Work+Sans:400,700|Merriweather:900);

$font-light:   'Work Sans', sans-serif;
$font-regular: 'Work Sans', sans-serif;
$font-italic:  'Volkhov', serif;
$font-bold:    'Merriweather', serif;
$font-meta:    'Roboto Mono', monospace;

// Typography
$base-font-family:    $font-regular;
$heading-font-family: $font-regular;
$font-btn:            $font-regular;

// Line height
$base-line-height:    1.5;
$heading-line-height: 1.2;

// Font sizing
@mixin fs-title {
  line-height: 46px;
  font-size:   42px;
  font-family: $font-bold;
  font-weight: 500;
}

@mixin fs-subtitle {
  line-height: 22px;
  font-size:   18px;
  font-family: $font-meta;
  font-weight: 500;
}

@mixin fs-headings {
  font-weight: bold;
  font-family: $font-bold;
}

@mixin fs-body {
  line-height: 20px;
  font-size:   18px;

  @include media($mobile) {
    font-size: 16px;
    line-height: 16px;
  }
}

@mixin fs-meta {
  font-size:   16px;
  line-height: 18px;
  font-family: $font-meta;
  font-weight: 500;
}

@mixin fs-code {
  font-family: $font-meta;
  font-weight: 300;
}

@mixin fs-italic {
  font-family: $font-italic;
  font-weight: 400;
}

@mixin fs-small($align:'') {
  font-size:   12px;
  text-align: $align;
  font-family: $font-meta;
  font-weight: 500;
  line-height: 14px;
}
