@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,700|Roboto+Mono:400,500);

$font-light:   'Roboto', 'Helvetica Neue', Helvetica, sans-serif;
$font-regular: 'Roboto', 'Helvetica Neue', Helvetica, sans-serif;
$font-bold:    'Roboto', 'Helvetica Neue', Helvetica, sans-serif;
$font-meta:    'Roboto Mono', monospace;

// Typography
$base-font-family:    $font-regular;
$heading-font-family: $font-regular;
$font-btn:            $font-regular;

// Line height
$base-line-height:    1.5;
$heading-line-height: 1.2;

// Font sizing
@mixin fs-title {
  line-height: 38px;
  font-size:   32px;
  font-family: $font-meta;
  font-weight: 500;
}

@mixin fs-subtitle {
  line-height: 22px;
  font-size:   18px;
  font-family: $font-meta;
  font-weight: 500;
}

@mixin fs-headings {
  font-weight: bold;
  font-family: $font-bold;
}

@mixin fs-body {
  line-height: 20px;
  font-size:   18px;
}

@mixin fs-meta {
  font-size:   16px;
  line-height: 18px;
  font-family: $font-meta;
  font-weight: 500;
}

@mixin fs-code {
  font-family: $font-meta;
  font-weight: 300;
}

@mixin fs-small($align:'') {
  font-size:   12px;
  text-align: $align;
  font-family: $font-meta;
  font-weight: 500;
  line-height: 14px;
}
