$base-border-color:  $c-gray;
$base-border:        2px solid $base-border-color;
$base-border-radius: 3px;
$base-spacing:       1em;
$small-spacing:      .25em;

// Animations
$base-duration: 150ms;
$base-timing: ease;


// Config Bourbon
$visual-grid: false;
$visual-grid-color: red;
$visual-grid-index: front;
$visual-grid-opacity: 0.1; 

$nav-height: 66px;
$min-height: 400px;

$max-width: 1200px;
$column: 92px;
$gutter: 10px;
$grid-columns: 12;

$default-feature: min-width;
$border-box-sizing: true !default;
$disable-warnings: false !default;

$asset-pipeline: true;
$output-bourbon-deprecation-warnings: true;

$prefix-for-webkit:    true;
$prefix-for-mozilla:   true;
$prefix-for-microsoft: true;
$prefix-for-opera:     true;
$prefix-for-spec:      true;