h1
    a(href="https://www.linkedin.com/in/charlescabral/", target="_blank", title="Ir pro meu Linkedin") CHARLES CABRAL
h3 Front-end Developer & UI/UX Designer
hr
ul.topics
    li Webdesign
    li Mobile First
    li Webstandarts
hr
a(href="mailto:charles.cabral.neto@gmail.com", title="Mandar email") charles.cabral.neto@gmail.com