@font-face {
    font-family: "LG Smart";
    src: url("LG_Smart_Regular.eot"); /* IE9 */
    src: url("LG_Smart_Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("LG_Smart_Regular.woff") format("woff"), /* chrome, firefox */
    url("LG_Smart_Regular.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("LG_Smart_Regular.svg#LG Smart") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


