.article {

    > .header {
        padding-top: 5rem;
        padding-bottom: 5rem;
        margin-bottom: em(20);
        background: lighten($c-dark-primary, 4);

        .title {
            position: relative;
            @include fs-title;
            color: $c-white;
            margin: 0;

            &:after {
                margin-left: .5rem;
                color: rgba($c-white, .5);
                content: '¬';
            }

            span {
                color: rgba(#fff, .5);
            }
        }
            
        .subtitle {
            @include fs-subtitle;
            color: $c-white;
            margin: 0;
        }
    }

    > .main {
    }
}
