footer.footer {
  @include clearfix;
  clear: both;
  margin-top: 20px;
  background-color: $c-light-primary;

  > .infos {
    padding: em(40px) 0;
  }

  > .footer-copyright {
    @include fs-small(center);
    overflow: hidden;
    padding: em(20) 0;
    background-color: darken($c-light-primary, 6);
  }
}