.col-brand {
    @include span-columns(3);

    .brand {
        @include transition(fill, .5s);
        @include size($nav-height);
        padding: .8em;
        border: 0;
        background: none;
        fill: $c-white;
        display: block;

        &:hover {
            // fill: darken($c-dark-primary, 20);
        }
    }
}

.open-search {
    fill: $c-white;
    display: block;

    svg {
        @include size(26px);
    }
}

.icon-home {
    fill: $c-white;
    display: block;

    svg {
        @include size(26px);
    }
}

.menu-control {
    @include transition(fill, .5s);
    @include size(66px);
    padding: 1em;
    border: 0;
    background: none;
    fill: $c-white;
    display: none;
    float: right;
    outline: none;
    
    .close {display: none;}
    &.active {
        .open {display: none;}
        .close {display: block;}
    }

    &:hover { 
        // fill: darken($c-dark-primary, 20);
    }

    &:active {
        
    }
    
    @include media($tablet) {
        display: block;
    }
}


.header-nav {
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: $c-dark-primary;

    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-transition-timing-function: cubic-bezier( 0.215, 0.610, 0.355, 1.000 );
    transition-timing-function: cubic-bezier( 0.215, 0.610, 0.355, 1.000 );
    -webkit-transition-property: height, padding-top, padding-left;
    transition-property: height, padding-top, padding-left;

    &.fixed {
        position: fixed;
        will-change: transform;
        @include box-shadow(0, -3px, 9px, 0, $c-black);
    }

    &.-hide {
        // -webkit-transform: translateY( -100% );
        // -ms-transform: translateY( -100% );
        // transform: translateY( -100% );
    }

    &.nav-home {
        text-align: center;
        position: relative;
        ul {
            float: none;
        }
    }
    
    .row {
        padding: 0;
        margin: 0;
        @include clearfix;

        @include media($tablet) {
            margin-right: -$gutter;
            margin-left: -$gutter;
        }
    }
}