body {
  width: 100%;
  height: 100%;
}

#panel,
#menu-mobile {
	@include transition(all, .5s);
}

#menu-mobile {
	background-color: $c-light-primary;
	position: fixed;
	right: 0;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 0;
	width: 256px;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	display: none;

	&.active {display: block;}
}


.slideout-panel {
  @include box-shadow(16px, 0px, 20px, -20px, $c-black);
  position:relative;
  z-index: 1;
  background-color: $c-white;
  
  &.active {
 	will-change: transform;

  }
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open #menu-mobile,
.slideout-open .slideout-menu {
  display: block;
}