// Style the dropdown
.nice-select {
  @include prefixer(transition, $base-duration $base-timing, webkit moz ms o spec);
  @include border-radius($base-border-radius);
  @include box-sizing(border-box);
  @include user-select(none);
  @include appearance(none);
  @include fs-body;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background: $c-white;
  background-color: $base-background-color;
  border: $base-border;
  font-family: $base-font-family;
  margin-bottom: $small-spacing;
  padding: em(10px);
  width: 100%;
  @include appearance(none);
  border-radius: $base-border-radius;
  cursor: pointer;
  display: block;
  outline: none;
  position: relative;
  white-space: nowrap;
  width: 100%;

  &:hover {
    border-color: shade($base-border-color, 20%);
  }

  &:active, &:focus {
    border-color: $c-dark-primary;
    outline: none;
  }

  // Arrow
  &:after { 
    content: '';
    display: block; 
    pointer-events: none;
    position: absolute; 
    right: 12px; 
    top: 20%;
    @include sprite(arrow-down);
    @include opacity(.2);
    @include transform-origin(66% 66%);
    @include prefixer(transition, $base-duration $base-timing, webkit moz ms o spec);
  }
  
  &.open {

    &:after {
      @include rotate(180);
      right: 22px;
      top: 0%;
    }
    .list {
      left: 0 !important;
      right: 0 !important;
      opacity: 1;
      pointer-events: auto;
      @include transform(scale(1) translateY(0));
    }
  }
  &.disabled {
    border-color: lighten($c-txt-primary, 2%);
    pointer-events: none;
    &:after { 
      border-color: lighten($c-txt-primary, 20%);
    }
  }
  
  // List and options
  .list {
    background-color: #fff;
    border-radius: $base-border-radius;
    margin-top: 4px;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    pointer-events: none;
    position: absolute;
    top: 100%; 
    left: 0;
    z-index: 9;
    @include box-sizing(border-box);
    @include transform-origin(50% 0);
    @include transform(scale(.75) translateY(- 42px / 2));
    @include box-shadow(0, 12px, 15px, 0, rgba($c-black, .3));
    @include transition(all .2s cubic-bezier(0.5, 0, 0, 1.25), opacity .15s ease-out);

    &:hover .option:not(:hover) {
      background-color: transparent !important;
    }
  }
  .option {
    cursor: pointer;
    line-height: 16px;
    font-size: 16px;
    list-style: none;
    outline: none;
    text-align: left;
    padding: em(14px);
    @include transition(all .2s);

    &:hover, &.focus { 
      background-color: $c-light-primary;
    }
    &.selected { 
      color: $c-alert-success;
    }
    &.disabled {
      background-color: transparent;
      color: $c-txt-primary;
      cursor: default;
    }
  }
}

// Use display instead of opacity for IE <= 10
.no-csspointerevents .nice-select {
  .list {
    display: none;
  }
  &.open {
    .list {
      display: block;
    }
  }
}