.share-buttons {
    box-sizing: border-box;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    height: 36px;
    margin: 0;
    padding: 0;
    width: 100%;
    @include clearfix;

    &:after {
        clear: both
    }

    li {
        box-sizing: border-box;
        float: left;
        height: 100%;
        line-height: 13px;
        list-style: none;
        margin: 0;
        padding: 0 2px;

        &.share-email {
            a { background-color: $c-dark-primary;
                &:hover { background-color: darken($c-dark-primary, 10); }
            }
        }

        &.share-facebook {
            a { background-color: $c-facebook;
                &:hover { background-color: darken($c-facebook, 10); }
            }
        }

        &.share-linkedin {
            a { background-color: $c-linkedin;
                &:hover { background-color: darken($c-linkedin, 10); }
            }
        }

        &.share-twitter {
            a { background-color: $c-twitter;
                &:hover { background-color: darken($c-twitter, 10); }
            }
        }

        &.share-googleplus {
            a { background-color: $c-googleplus;
                &:hover { background-color: darken($c-googleplus, 10); }
            }
        }

        &.share-pinterest {
            a { background-color: $c-pinterest;
                &:hover { background-color: darken($c-pinterest, 10); }
            }
        }

        &.share-github {
            a { background-color: $c-github;
                &:hover { background-color: darken($c-github, 10); }
            }
        }

        a {
            background-color: #ccc;
            border-radius: 2px;
            box-sizing: border-box;
            display: block;
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            font-weight: 700;
            height: 100%;
            width: 100%;
            padding: 11px 7px 12px 27px;
            position: relative;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            @include transition(background-color .2s ease-in-out);

            &:active { @include box-shadow(0px, 8px, 20px, 1px, rgba(0, 0, 0, 0.2)); }

            .share-icon {
                display: block;
                left: 10px;
                padding-top: 9px;
                position: absolute;
                top: 0;
                width: 10%;

                svg {
                    @include size(17px);

                    path {
                        fill: $c-white
                    }
                }
            }

            .share-text {
                color: $c-white
            }
        }
    }
}



.share-buttons li.small a {
    padding: 0
}

.share-buttons li.small a .share-icon {
    left: auto;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    top: auto;
    width: 100%
}

.share-buttons li.small a .share-text {
    visibility: hidden
}

.share-buttons.large-format,.share-buttons.large-format li {
    height: auto
}

.share-buttons.large-format li a {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: .2em;
    padding: 8.5% 0 8.5% 12%
}

.share-buttons.large-format li a .share-icon {
    height: 100%;
    left: 7%;
    padding-top: 0;
    width: 12%
}

.share-buttons.large-format li a .share-icon svg {
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%
}

.share-buttons.large-format li a .share-text {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.share-buttons.small-format {
    padding-top: 5px
}

.share-buttons.small-format li {
    height: 80%;
    padding: 0 1px
}

.share-buttons.small-format li a .share-icon {
    height: 100%;
    padding-top: 0
}

.share-buttons.small-format li a .share-icon svg {
    height: 48%;
    position: relative;
    top: 6px;
    width: 80%
}

.share-buttons.tiny-format {
    height: 22px;
    position: relative
}

.share-buttons.tiny-format li {
    padding-right: 7px
}

.share-buttons.tiny-format li a {
    background-color: transparent;
    padding: 0
}

.share-buttons.tiny-format li a .share-icon svg {
    height: 70%;
    width: 100%
}

.share-buttons.tiny-format li a:active,.share-buttons.tiny-format li a:hover {
    background-color: transparent
}

.share-buttons.tiny-format li.share-email a .share-icon svg path {
    fill: #0a88ff
}

.share-buttons.tiny-format li.share-email a .share-icon:hover .share-icon svg path {
    fill: #0054a3
}

.share-buttons.tiny-format li.share-facebook a .share-icon svg path {
    fill: #306199
}

.share-buttons.tiny-format li.share-facebook a .share-icon:hover .share-icon svg path {
    fill: #18304b
}

.share-buttons.tiny-format li.share-linkedin a .share-icon svg path {
    fill: #007bb6
}

.share-buttons.tiny-format li.share-linkedin a .share-icon:hover .share-icon svg path {
    fill: #003650
}

.share-buttons.tiny-format li.share-twitter a .share-icon svg path {
    fill: #26c4f1
}

.share-buttons.tiny-format li.share-twitter a .share-icon:hover .share-icon svg path {
    fill: #0b84a6
}

.share-buttons.tiny-format li.share-googleplus a .share-icon svg path {
    fill: #e93f2e
}

.share-buttons.tiny-format li.share-googleplus a .share-icon:hover .share-icon svg path {
    fill: #a01e11
}


.share-buttons.tiny-format li.share-pinterest a .share-icon svg path {
    fill: #b81621
}

.share-buttons.tiny-format li.share-pinterest a .share-icon:hover .share-icon svg path {
    fill: #5d0b11
}

.share-buttons.tiny-format li.share-github a .share-icon svg path {
    fill: #444
}

.share-buttons.tiny-format li.share-github a .share-icon:hover .share-icon svg path {
    fill: #111
}

