<!doctype html>
<html class="no-js" lang="">
    <head>
        {% include head.html %}
    </head>
    <body class="{{page.trumps}}">

        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <header>
            <div class="content">
                <h1>Charles Cabral</h1>
                <h3>Blog</h3>
                {% include nav.html navclass='nav-top' %}
            </div>
            <hr>
        </header>
        
        <section class="content">

            <div class="col-content">
                {{content}}
            </div>
            
            <aside>
                {% include sidebar-right.html %}
            </aside>
        </section>

        <footer>
            {% include footer.html %}
        </footer>

        {% include scripts.html %}
    </body>
</html>
