

.send {
	display: block;
	width: 100%;

	&:hover {
	  @include animation(scale 1.0s ease-in, slide 2.0s ease);
	  @include animation-name(scale, slide);
	  @include animation-duration(2s);
	  @include animation-timing-function(ease);
	  @include animation-iteration-count(infinite);
	}
}


.content-contact {
	.col {
		@include span-columns(6);
		@include media($mobile) {
			@include span-columns(4);
		}
	}
}

#notifications {
    cursor: pointer;
    position: fixed;
    right: 0px;
    z-index: 9999;
    bottom: 0px;
    margin-bottom: 2.5rem;
    margin-right: 2.5rem;
    max-width: 300px;
    background-color: #dff0d8;
  	border-color: #d6e9c6;
  	color: #3c763d;
}

