.content-home {
	background: $c-dark-primary;
	height: 100vh;
	min-height: 568px;
	padding-top: $nav-height;
	@include box;

	& > .container {
		height: 100%;
	}

	h1 {
		@include fs-title;
		color: $c-white;
		text-align: center;
		margin: 0 0 em(10px) 0;

		@include media($tablet) {
			font-size: 33px;
			line-height: 33px;
			span {display: block;}
		}
		@include media($mobile) {
			font-size: 20px;
			line-height: 20px;
		}
	}

	.topics {
		text-align: center;
		margin-bottom: em(80px);

		@include media($mobile) {
			margin-bottom: em(20px);
		}

		li {
			display: inline-block;
			vertical-align: baseline;
			color: $c-white;

			&:after {
				content: '.';
				display: inline-block;
				vertical-align: baseline;
				margin: 0 20px;

				@include media($mobile) {margin: 0 10px;}
			}

			&:last-child {
				&:after {display: none;}
			}

			p {
				display: inline-block;
				@include fs-small;
				@include media($mobile) {
					font-size: 10px;
				}
			}
		}
	}
}