.content-home {
	background: $c-dark-primary;
	height: 100vh;
	padding-top: 8.5vh;

	& > .container {
		height: 100vh - 22;
	}

	h1 {
		@include fs-title;
		color: $c-white;
		text-align: center;
		@include media($tablet) {
			font-size: 32px;
			line-height: 32px;
			span{display: block;}
		}
		@include media($mobile) {
			font-size: 26px;
			line-height: 26px;
		}
	}

	.topics {
		text-align: center;
		margin-bottom: em(80px);
		@include media($mobile) {
			margin-bottom: em(20px);
		}

		li {
			display: inline-block;
			vertical-align: baseline;
			color: $c-white;

			&:after {
				content: '.';
				display: inline-block;
				vertical-align: baseline;
				margin: 0 20px;

				@include media($mobile) {margin: 0 10px;}
			}

			&:last-child {
				&:after {display: none;}
			}

			p {
				display: inline-block;
				@include fs-small;
			}
		}
	}
}