$ieSprite: '.lt-ie9' !default;
$sprite: map-get($icons, sprite) !default;
// $baseFontSize: 16px !default;

.tweet {

	&:before {
		@include sprite(twitter);
		content: '';
		float: left;
		margin-right: 0.5em;
	}

	&:hover {
		&:before {
			@include sprite(twitterHover, bg);
		}
	}
}
