

.styleguide > .list {
	@include outer-container;
	> li {
		height: 60px;
		line-height: 60px;
		margin-bottom: $gutter;
		text-align: center;
		background: $c-facebook;
		color: $c-white;
		@include border-radius(2px);
	}
	.one {
		@include span-columns(1);
		@include omega(3n);
	}
	.two {@include span-columns(2);}
	.tree {
		@include span-columns(3);
	}
	.four {
		@include span-columns(4);
		// @include omega(2n);
	}
	.five {
		@include span-columns(5);
		@include omega(2n);
	}
	.six {
		@include span-columns(6);
		@include omega(4n);
	}
	.seven {@include span-columns(7);}
	.eight {@include span-columns(8);}
	.nine {@include span-columns(9);}
	.ten {@include span-columns(10);}

	.doze {
		@include span-columns(12);
		.desktop {display: block;}
		.tablet {display: none;}
		.mobile {display: none;}

		@include media($tablet) {
			.desktop {display: none;}
			.tablet {display: block;}
		}

		@include media($mobile) {
			.mobile {display: block;}
		}
	}

	.right {
		@include omega();
	}
}

.element {
	$first-breakpoint-value: 400px;
	$second-breakpoint-value: 700px;
	$medium-viewport: new-breakpoint(min-width $first-breakpoint-value max-width $second-breakpoint-value);
	$large-viewport: new-breakpoint(min-width $second-breakpoint-value + 1);

	.element {
	  @include media($tablet) {
	    @include span-columns(6);
	    @include omega(2n);
	  }

	  @include media($mobile) {
	    @include span-columns(4);
	    @include omega(3n);
	  }
	}
}


.sg-grid {
	
	> .col {
		height: 60px;
		line-height: 60px;
		margin-bottom: $gutter;
		text-align: center;
		background: $c-facebook;
		color: $c-white;
		@include border-radius(2px);
	}
}












